
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
.carousel,
.item,
.active {
  height: 100%;
}
.carousel-inner {
  height: 100%;
}
.carousel {
  margin-bottom: 60px;
}
.carousel-caption {
  z-index: 10;
}
.carousel .item {
  background-color: #e4e4e4;
}
.carousel .carousel-inner .bg {
  background-repeat: no-repeat;
  background-size: cover;
}
.carousel .carousel-inner .bg1 {
  background-image: url('../../image/carousel_prime_number.svg');
  background-position: center top;
}
.carousel .carousel-inner .bg2 {
  background-image: url('../../image/carousel_crit_div.svg');
  background-position: center center;
}
.carousel .carousel-inner .bg3 {
  background-image: url('../../image/carousel_doomsday.svg');
  background-position: center bottom;
}
.carousel .carousel-inner .bg4 {
  background-image: url('../../image/carousel_calcul-indien.svg');
  background-position: center bottom;
}
.carousel .carousel-inner .bg5 {
  background-image: url('../../image/carousel_trigo.svg');
  background-position: center bottom;
}
.carousel .carousel-inner .bg6 {
  background-image: url('https://raw.githubusercontent.com/pinkara/PhysMAT/167219f4f6842db07484ac352e80566d1dcdcdd7/image/carousel_function.svg');
  background-position: center bottom;
}

