/** TIPS: 
1. The carousel shouldn't be in any other div, like for example div with class container. 
2. You can align image position in classes bg1, bg2, bg3 using css background-position.
*/
/* Carousel 100% Fullscreen */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
.carousel,
.item,
.active {
  height: 100%;
}
.carousel-inner {
  height: 100%;
}
.carousel {
  margin-bottom: 60px;
}
.carousel-caption {
  z-index: 10;
}
.carousel .item {
  background-color: #e4e4e4;
}
.carousel .carousel-inner .bg {
  background-repeat: no-repeat;
  background-size: cover;
}
.carousel .carousel-inner .bg1 {
  background-image: url('https://raw.githubusercontent.com/pinkara/PhysMAT/f7cbb36e91b6b3fcf2a19300b9ba96ec4f2de6be/image/verbes-irr.svg');
  background-position: center top;
}
.carousel .carousel-inner .bg2 {
  background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/158072/hearthand.jpg');
  background-position: center center;
}
.carousel .carousel-inner .bg3 {
  background-image: url('https://raw.githubusercontent.com/pinkara/PhysMAT/2335e379c0c7a5bf6b094a62a7dec149dd857849/image/carousel_test1.svg');
  background-position: center bottom;
}
.carousel .carousel-inner .bg4 {
  background-image: url('https://raw.githubusercontent.com/pinkara/PhysMAT/65ca4b8450f27fe51bba64b6241a000b5a9d7ef2/image/carousel_test2.svg');
  background-position: center bottom;
}

