
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
.carousel,
.item,
.active {
  height: 100%;
}
.carousel-inner {
  height: 100%;
}
.carousel {
  margin-bottom: 60px;
}
.carousel-caption {
  z-index: 10;
}
.carousel .item {
  background-color: #e4e4e4;
}
.carousel .carousel-inner .bg {
  background-repeat: no-repeat;
  background-size: cover;
}
.carousel .carousel-inner .bg1 {
  background-image: url('https://img-4.linternaute.com/86B242kfdH3hqmMtfLFo_9wBD8k=/1500x/smart/3136896be6f2432a926afe8c01f38cab/ccmcms-linternaute/33102805.jpg');
  background-position: center top;
}
.carousel .carousel-inner .bg2 {
  background-image: url('');
  background-position: center center;
}
.carousel .carousel-inner .bg3 {
  background-image: url('../../image/2GM.jpeg');
  background-position: center bottom;
}
.carousel .carousel-inner .bg4 {
  background-image: url('../../image/1GM.jpeg');
  background-position: center bottom;
}
