
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
.carousel,
.item,
.active {
  height: 100%;
}
.carousel-inner {
  height: 100%;
}
.carousel {
  margin-bottom: 60px;
}
.carousel-caption {
  z-index: 10;
}
.carousel .item {
  background-color: #e4e4e4;
}
.carousel .carousel-inner .bg {
  background-repeat: no-repeat;
  background-size: cover;
}
.carousel .carousel-inner .bg1 {
  background-image: url('https://raw.githubusercontent.com/pinkara/PhysMAT/eb098515c0059b3ff3d066641ab93778952b5d4b/image/Front-pop.svg');
  background-position: center top;
}
.carousel .carousel-inner .bg2 {
  background-image: url('');
  background-position: center center;
}
.carousel .carousel-inner .bg3 {
  background-image: url('https://raw.githubusercontent.com/pinkara/PhysMAT/32638d1032c46f52182a38868e6152f24906e24d/image/2GM.svg');
  background-position: center bottom;
}
.carousel .carousel-inner .bg4 {
  background-image: url('https://raw.githubusercontent.com/pinkara/PhysMAT/32638d1032c46f52182a38868e6152f24906e24d/image/1GM.svg');
  background-position: center bottom;
}
